<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/svg" href="/images/logo.svg">
    <title>Seen</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Seen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/secure/user">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/secure/note">Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/secure/log-out">Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3 mb-3">
        <form id="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title" type="text" value="{{ note_title|safe }}" class="form-control" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" type="text" class="form-control">{{ note_description|safe }}</textarea>
            </div>
            <div class="form-group">
                <label for="authorized_users">Authorized users</label>
                <input name="authorized_users" type="text" value="{{ note_authorized_users_text|safe }}" class="form-control" />
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input id="checkbox_is_public" name="is_public" type="checkbox" value="{{ 'true' if note_is_public else 'false' }}" class="form-check-input">
                    <label class="form-check-label" for="is_public">Public note</label>
                </div>
            </div>
            <div class="form-group">
                <input name="code" type="hidden" value="{{ note_code|safe }}">
                <button type="submit" class="btn btn-primary">Update note</button>
                <button id="button_delete" class="btn btn-danger">Delete note</button>
            </div>
            <div class="alert alert-primary" role="alert">
                Sharing link:
                <a href="https://{{ note_url|safe }}">{{ note_url|safe }}</a>
            </div>
            <div class="alert" role="alert">
            </div>
        </form>
    </div>

    <script src="/scripts/note.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
